.container-header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(69,61,57,255);
    height: 250px;
}

.login{
    background-color: rgba(69,61,57,255);
    color: white;
    border-color: rgb(247, 110, 1);
    border-radius: 7px;
    margin: 7% 10%;
    width: 100px;
    border-width: 3px;
}

.logo-header{
    margin-left: 10%;
}

main{
    background-color: rgba(69,61,57,255);
    display: flex;
    flex-direction: column;
}

.container-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin: 0 10% 0 10%;
    height: 100px;
    align-items: center;
    
}

h1{
    font-size: 37px;
    font-weight: bold;
}

.container-main p{
    margin-top: 40px;
    font-size: 20px;
}

.container-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: 0 15%;
    height: 350px;
}
.container-inputs{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
   
    
}

.container-inputs-one{
    margin-top: 20px;
    display: flex;
}

.container-inputs-two{
    display: flex;
}

.container-inputs input{
    padding: 20px;
    margin: 10px;
    border-radius: 7px;
    border: unset;
}

#hear-selector, .submit-button{
    padding: 20px;
    margin: 10px;
    width: 96%;
    border-radius: 7px;
}

.submit-button{ 
    background-color: rgb(53, 46, 40);
    color: white;
    border-width: 3PX;
    border-color: rgb(247, 110, 1);;
}






