.app{
    display: grid;
    grid-template-areas: 
        'header'
        'main'
        'footer';
    grid-template-columns: 100vw;
    grid-template-rows: 200px auto auto;
    background: rgba(69,61,57,255);
    /*3 areas to work: header, main and footer*/
}

.header{
    display: flex;
    grid-area: header;
    background: rgba(69,61,57,255);
    justify-content: space-evenly;
    margin: 0 10%;
    border-bottom: solid 1px rgb(247, 110, 1);
    /*flex and space evenly with 5% margin*/
}

.login{
    padding: 0 2rem;
    margin: 4.5rem 0;
    background: rgba(69,61,57,255);
    border: 3px solid rgb(247, 110, 1);
    border-radius: 3px;
    color: azure;
    /*login button*/
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;

}

.main__title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

}

.main__p{
    margin-top: 1rem;
    font-size: 1.15rem;
    text-align: center;
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 35%;
    
}

.container-inputs{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;

}

.form-inputs{
    margin: .5rem .1rem;
    width: 37%;
    padding: 1.2rem;
    border-radius: 10px;
    border: none;

}

.container-select-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#hear-selector{
    width: 100%;
    padding: 1.2rem;
    border-radius: 10px;
    border: none;
    margin: .5rem 0;

}

.submit-button{
    width: 100%;
    padding: 1.2rem;
    margin: .5rem 0;
    border-radius: 10px;
    border: 3px solid rgb(247, 110, 1);
    background: rgba(69,61,57,255);
    color: azure;
    font-size: 1.1rem;
}
.footer{
    grid-area: footer;
}

@media screen and (max-width: 1150px) {
    .container-form{
        margin: 0 30%;
}

@media screen and (max-width: 850px){
    .container-form{
        margin: 0 20%;
    }
    .form-inputs{      
}


@media screen and (max-width: 550px){
    .main__title{
        margin: 0 3%
    }
    .container-form{
        margin: 0 5%;
    }
}